
#ButtonCreateUser{
-fx-background-color: linear-gradient(#9500ff,#09f,#00ddff);
                     -fx-background-radius: 8px;
                     -fx-font-size: 16px;
                     -fx-padding: 4px 6px;
}
#ButtonCreateUser:hover{
-fx-background-radius: 12px;
    -fx-font-size: 18px;
    -fx-border-radius: 12px;

}
